<!DOCTYPE html>
<html>
    <body>
        <h1>Agent details:</h1>
        <ul>
            <li><b>Name: </b><span>{{ name }}</span></li>
            <li><b>Code: </b><span>{{ code }}</span></li>
            <li><b>Phone number: </b><span>{{ phone_no }}</span></li>
            <li><b>Commission: </b><span>{{ commission }}</span></li>
            <li><b>Country: </b><span>{{ country }}</span></li>
            <li><b>Working Area: </b><span>{{ working_area }}</span></li>
        </ul>
    </body>
</html>
